:root {
    --shadow-color: rgba(0, 0, 0, .5);
    --shadow: 0px 0px 20px var(--shadow-color);
    --radius: 25px;

    --colorP: #A0A0A0;
    --colorW: #59D8C8;
    --colorA: #A0A0A0;
}

html {
    background: rgb(175, 175, 175);
    background: linear-gradient(170deg, rgba(59, 59, 59, 1) 30%, rgba(175, 175, 175, 1) 30%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    display: grid;
    grid-template: 5rem auto / 1fr 4fr 1fr;
    height: 100vh;
    max-width: 1000px;
    padding: 0px;
    margin: 0px auto;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

#titleBar {
    color: #FFFFFF;
    background-color: #3B3B3B;
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: calc(env(titlebar-area-width, 100%) - 2em);
    height: env(titlebar-area-height, 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    -webkit-app-region: drag;
    app-region: drag;
}

#canvasPreview {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #FFF;
    border-radius: var(--radius) var(--radius) 0px 0px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

#colorSelectionPane {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 1rem;
    border: #3B3B3B solid 7px;
    border-radius: var(--radius);
    box-shadow: inset var(--shadow);
}

.pwaLogo {
    padding: 15%;
}

.icon {
    height: 1rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    app-region: no-drag;
}

.colorBtn {
    height: 3em;
    cursor: pointer;
}

#titleBarIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.logoFooter {
    height: 3rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.colorSelectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;
    gap: .5em;
}

.colorCircle {
    border: #3B3B3B solid 6px;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}

input[type="color"] {
    border: #3B3B3B solid 1.2px;
    border-radius: 12%;
    height: 3.3em;
    width: 3.3em;
    background:#3B3B3B;
    cursor: pointer;
}

@media (max-width: 400px) {
    body {
        grid-template: 5rem auto / 1fr 10fr 1fr;
    }

    .pwaLogo {
        padding: 2em;
    }

    #colorSelectionPane {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
    }
} 

@media (orientation: landscape) {
    body {
        grid-template: 5rem auto / 1fr 20fr 1fr;
    }
    
    #canvasPreview {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .pwaLogo {
        padding: 3em;
        width: 100%;
    }
}

@media (orientation: portrait) {
    body {
        grid-template: 5rem auto / 1fr 20fr 1fr;
    }
    
    #canvasPreview {
        flex-direction: column;
        align-items: stretch;
    }

    #colorSelectionPane {
        margin: 1rem;
    }
}