@import 'reset.css';

:root {
    --shadow-color: rgba(0, 0, 0, .5);
    --shadow: 0px 0px 20px var(--shadow-color);
    --radius: 25px;

    --colorP: rgba(128, 128, 128, 1);
    --colorW: rgba(128, 128, 128, 1);
    --colorA: rgba(128, 128, 128, 1);

    --colorLight: #FFF;
    --colorDark: #111;
    --border: rgb(128, 128, 128);

}

html {
    background: rgb(175, 175, 175);
    background: linear-gradient(170deg, var(--gradient1), var(--gradient2));
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-weight: bolder;
}

body {
    display: grid;
    grid-template: 1fr auto 1fr / .2fr 4fr .2fr;
    height: 100vh;
    max-width: 1000px;
    padding: 0px;
    margin: 0px auto;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    app-region: drag;
}

#titleBar {
    color: #FFFFFF;
    background-color: #3A006A;
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: calc(env(titlebar-area-width, 100%) - 2em);
    height: env(titlebar-area-height, 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    -webkit-app-region: drag;
    app-region: drag;
}

#canvasPreview {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: var(--radius);
    padding: 5%;
    box-shadow: var(--shadow);
    display: grid;
    align-content: start;
    gap: 1rem;
    transition: background-color .2s ease-in, padding .2s, margin .2s;
}

#colorSelectionPane {
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 5%;
    border: var(--border) solid 7px;
    border-radius: var(--radius);
    box-shadow: inset var(--shadow);
}

.pwaLogo {
    padding: 10%;
}

.icon {
    height: 1.1rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    app-region: no-drag;
    transition: transform .2s ease-in;
}

.icon:hover {
    transform: scale(1.1);
}

.bgBtn {
    height: 3em;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.bgBtn:hover {
    transform: translateY(-5px);
}

#titleBarIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.logoFooter {
    height: 3rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: transform .2s ease-in;
}

.logoFooter:hover {
    transform: scale(1.1);
}

.colorSelectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;
    gap: .5em;
}

.colorCircle {
    border: var(--border) solid 6px;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}

input[type="color"] {
    border: var(--border) solid 1.2px;
    border-radius: 12%;
    height: 3.3em;
    width: 3.3em;
    background:var(--border);
    cursor: pointer;
}

@media (max-width: 450px) {
    #colorSelectionPane {
        margin: 2%;
        padding: 1%;
    }

    #canvasPreview {
        padding: 1%;
    }

    body {
        display: grid;
        grid-template: 1fr auto 1fr / 1vw 4fr 1vw;
        height: 100vh;
        max-width: 1000px;
        padding: 0px;
        margin: 0px auto;
        color: #FFF;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media (orientation: landscape) {
    #canvasPreview {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: center;
    }

    body{
        max-width: none;
    }
}

@media (orientation: portrait) and (device-posture: folded) {


}

@media (pointer: coarse) {
    .icon {
        height: 2rem;
        margin-bottom: 1.5rem;
    }

    #titleBarIcons {
        gap: 2rem;
    }
    
    h1{
        margin: 1rem;
        font-size: 1.2rem;
    }
}

@media (pointer: fine) {
    .icon {
        height: 1.1rem;
    }

    header {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(env(titlebar-area-width, 100%) - 2em);
        padding: .5rem;
    } 

}